<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jobless Loser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag    'animate-custom', media: 'all', 'data-turbolinks-track' => true %>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'retina', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'smoothscroll', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-func', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'respond.min', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr.custom', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Jobless Loser">
  <meta name="author" content="Brian Smith - briansmith.io">
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <!-- Bootstrap core CSS -->
  <!--<link href="assets/css/bootstrap.css" rel="stylesheet">-->

  <!-- Custom styles for this template -->
  <!--<link href="assets/css/main.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" href="assets/css/icomoon.css">-->
  <!--<link href="assets/css/animate-custom.css" rel="stylesheet">-->



  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type='text/css'>

  <!--<script src="assets/js/jquery.min.js"></script>-->
  <!--<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>-->

  <!--&lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
  <!--&lt;!&ndash;[if lt IE 9]>-->
  <!--<script src="assets/js/html5shiv.js"></script>-->
  <!--<script src="assets/js/respond.min.js"></script>-->
  <!--<![endif]&ndash;&gt;-->
</head>

<%= yield %>


<!--<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="assets/js/retina.js"></script>-->
<!--<script type="text/javascript" src="assets/js/jquery.easing.1.3.js"></script>-->
<!--<script type="text/javascript" src="assets/js/smoothscroll.js"></script>-->
<!--<script type="text/javascript" src="assets/js/jquery-func.js"></script>-->
</body>
</html>
